<style>
    .user_footer {
        background-color: #fff;
    }
    .user_footer .links {
        text-align: center;
        padding: 15px 0 10px;
    }
    .user_footer .links a, .user_footer .links a:visited {
        text-decoration: none;
        color: #aaa;
    }
    .user_footer .links a:hover {
        text-decoration: underline;
    }
    .user_footer .links ul {
        margin: 0;
        padding: 0;
        display: block;
    }
    .user_footer .links ul li {
        display: inline-block; /* firefox等标准浏览器识别*/
        *display: inline; /* 只有ie6和ie7识别 所谓的IE Hack*/
        zoom: 1; /* 触发ie6和ie7下的haslayout */
        color: #aaa;
    }
    .user_footer .links ul li.sep {
        padding: 0 6px;
    }
    .user_footer .copy_info {
        background-color: #666666;
        color: #fff;
        line-height: 35px;
        padding: 0 50px;
        margin: 0;
        text-align: center;
    }
    .user_footer .copy_info a:link, .user_footer .copy_info a:visited {
        color: #fff;
        text-decoration: none;
    }
    .user_footer .copy_info a:hover {
        text-decoration: underline;
    }
</style>
<div class="user_footer">
  <div class='links'>
    <ul>
      <li><%= link_to "关于我们" -%></li>
      <li class='sep'>|</li>
      <li><%= link_to "联系方式"-%></li>
      <li class='sep'>|</li>
      <li><%= link_to "个人服务"-%></li>
      <li class='sep'>|</li>
      <li><%= link_to "企业服务"-%></li>
      <!--<li class='sep'>|</li>-->
      <!--<li><%= link_to "广告服务" -%></li>-->
      <li><%= link_to "使用帮助" -%></li>
      <li class='sep'>|</li>
      <li><%= link_to "意见反馈" -%></li>

    </ul>
  </div>
  <div class='copy_info'>
    RCC建筑人才网版权所有&nbsp;&nbsp;
    <%= link_to '京ICP备11034636号-3' -%>&nbsp;&nbsp;
    电话：010-56064666 &nbsp;&nbsp;
  </div>
</div>